html {
    font-size: 14px;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
    color: rgb(34, 34, 34);
}
html {
    -webkit-text-size-adjust: 100%;
}
*, *::before, *::after {
    word-break: break-all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "ja";
}
user agent stylesheet
html {
    display: block;
}


/*head*/



/*body*/

/*header*/
.site-header {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
}


.header-logo:hover{
    opacity: 0.5;
}


.header-width {
    max-width: 100%;
    margin: 0 36px 0 36px;
    position: relative;
}

.contents-tidy {
    display: flex;
    justify-content: space-between;
}
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
    margin: 0;
    padding: 0;
}


a {
    color: #222;
    text-decoration: none;
}

.header-logo-sp{
    display: none;
}


.header-logo:hover{
    opacity: 0.5;
}




img {
    border: 0;
    vertical-align: middle;
}




.header-nav-list  li :hover{
    opacity: 0.5;
}

header-nav .header-nav-list.contents-tidy {
    align-items: center;
}

ul, ol .header-nav .header-nav-list.contents-tidy{
    list-style: none;
}
.header-nav .header-nav-item-outline {
    margin-right: 45px;
}

.header-nav .header-nav-item {
    display: block;
}



.header-nav .header-nav-item > span:last-child {
    font-size: 10px;
}

.header-nav .header-nav-item > span {
    display: block;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 767px){
   .site-header {
    width: 100%;
    height: 620px;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #fff;
    margin-top: 0px;
   }
   
.header-nav-hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
}
 .header-logo > .header-logo-pc {
    display: none ;
   }
     .header-logo > .header-logo-sp {
    display: inline-block;
    width: auto;
    height: 16px;
}
 .header-logo > .header-logo-pc {
    display: none ;
   }
     .header-logo > .header-logo-sp {
    display: inline-block;
    width: auto;
    height: 16px;
}

.header-nav-hamburger-line:first-child {
    top: 0;
}
.header-nav-hamburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
}


.header-nav .header-nav-item-outline {
    margin-right: 0;
}


.header-nav .header-nav-item {
    padding: 20px 0;
}
}


@media screen and (min-width: 767px){
 
}
 
   header-nav{
    margin-bottom:100px;
}





  /*01.firstview*/
main {
    display: block;
}
.section-top-hero {
    padding-top: 190px;
    padding-bottom: 28px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/top-hero.png);
    background-size: auto 100%;
    background-position: right 0;
    background-repeat: no-repeat;
}
.content-width {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.top-hero-box {
    position: relative;
    max-width: 337px;
}

.top-hero-box .top-hero-heading > img {
    width: 100%;
    height: auto;
}

img {
    border: 0;
    vertical-align: middle;
}
.top-hero-box .top-hero-text {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    line-height: 1.7;
}
.top-hero-box > * + * {
    margin-top: 30px;
}
p {
    color: #333;
    line-height: 1.5;
}

.top-hero-box .top-hero-text > span {
    color: #f79314;
    }

.top-hero-button:hover{
    opacity: 0.5;
}
.link-button.no-subtitle {
    font-size: 16px;
    }

.link-button.menu {
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}
.link-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    background-color: #f79314;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: none
}
.section-top-hero .proviso {
    color: #888;
    font-size: 10px;
    max-width: 512px;
    padding-top: 132px;
}
@media screen and (min-width: 767px){
.No1-notation{
    position: absolute;
    top:0px;
    left: 400px;
    width: 100%;
    height: 100%;
}
}


@media screen and (max-width: 767px){
.section-top-hero {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 120px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/top-hero-sp.png);
    background-size: 100%;
    margin-top: 50px;
    margin-left:100px;
    margin-right: 0px;
    position: absolute;
}
/*.section-top-heading h1 img{
    margin-left: 300px;*/
    
.content-width {
    max-width: auto;
    position: relative;
}
.top-hero-box {
    position: relative;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    top: 270px;
}

.top-hero-box .top-hero-heading > img {
    width: 120%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

img {
    border: 0;
    vertical-align: middle;
}
.top-hero-box .top-hero-text {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    line-height: 1.7;
    padding-bottom: 0px
}
.top-hero-box > * + * {
    margin-top: 30px;
}
p {
    color: #333;
    line-height: 1.5;
}

.top-hero-box .top-hero-text > span {
    color: #f79314;
    }


.top-hero-button:hover{
    opacity: 0.5;
}
.link-button.no-subtitle {
    font-size: 16px;
    }

.link-button.menu {
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}
.link-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    background-color: #f79314;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: none
}

.section-top-hero .proviso {
    color: #888;
    font-size: 10px;
    max-width: 512px;
    padding-top:300px;
    
}
.No1-notation{
    position: absolute;
    top:-150px;
}
.No1-notation img{
    widows: 100px;
    height: 100px;
}





}










/* 02.POTEPAN CAMPとは */

.main-section.top-about {
    background-color: #f79314;
    padding: 45px 0;
}

.main-section {
    padding: 100px 0;
}


@media screen and (min-width:767px){
.banner-for-students--sp {
    display: none;
}

.banner-for-students {
    width: 100%;
    margin-bottom: 50px;
    
}}

    

    

.top-about .contents-tidy {
    align-items: center;
}

div .content-widht{
    display: block;
}

.about-text {
    color: #fff;
    width: 53%;
}
.about-text h2 {
    font-size: 40px;
    letter-spacing: 1px;
}
.about-text h2 > span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.about-text p {
    color: #fff;
    font-weight: 700;
    margin-top: 15px;
    line-height: 26px;
}

.about-text p {
    color: #fff;
    font-weight: 700;
    margin-top: 15px;
    line-height: 26px;
}


.about-text + .top-about-button {
    margin-top: 40px;
    width: 250px;
    display: block;
}
.top-about-button {
    position: absolute;
    top:0px;
    left: 700px;
    width: 320px;
}
.top-about-button :hover{
    opacity: 0.5;
}
.link-button.inversion {
    color: #f79314;
    background-color: #fff;
    margin-right: 10px;
}

.link-button span:first-child {
    letter-spacing: 4px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}
.link-button span:last-child {
    font-size: 14px;
}
@media screen and (min-width:767px){
.about-text-small-title{
    display: none;
}
.about-text-small{
    display: none;
}}

@media screen and (max-width:767px){
.main-section.top-about {
    background-color: #ff9900;
    padding: 45px 20px 150px 20px;
}


    .banner-for-students--pc {
    display: none;
}.banner-for-students--sp{
    width: 100%;
    margin-top: 600px;

}
.content-width top-about-content .-tidy{
    display: block;
}

.about-text h2 {
  /*  font-size: 7px;
    text-align: center;*/
    display: none;
}
.about-text h2 span{
    /*font-size: 20px;*/
    display: none;
}
.about-text p {
    /*color: #fff;
    font-weight: 70px;
    margin-top: 15px;
    line-height: 26px;*/
    display: none;
   
}
.about-text-small-title{
    font-size: 17px;
    color: #FFF;
    text-align: center;
}
.about-text-small{
    font-size: 14px;
    color: #FFF;
    text-align: center;
}

.link-button hover-opacity inversion{
     position:relative;
    top: 70px;
}
.top-about-button {
    position: relative;
    top:200px;
    left: 170px;
    width: 250px;
}
.link-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    background-color: #f79314;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: none;
}

    }

/*03.POTEPAN CAMPの特徴 */
   
main-section {
    padding: 100px 0;
}

.section-main-heading {
    font-size: 46px;
    font-weight: bold;
    
}
.section-sub-heading {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}


.section-sub-heading > span {
    font-family: 'Lato', sans-serif;
}
.section-header.bottom-line::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
}

.main-section .section-header + .section-content {
    margin-top: 60px;
}
.desc-list.list-number {
    margin-top: 110px;
}
@media screen and (max-width:767px){
    main-section {
    padding: 100px 0;
}

.section-main-heading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/*.section-main-heading>span {
    font-size: 25px;
    font-weight: bold;
}*/
.section-sub-heading {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}


/*.section-sub-heading > span {
    font-family: 'Lato', sans-serif;
}
.section-header.bottom-line::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
}

.main-section .section-header + .section-content {
    margin-top: 60px;
}
.desc-list.list-number {
    margin-top: 110px;
}
    
    
    
    
    
    
}*/

}
 /*<!-- 01 豊富な転職実績 -->*/


.desc-list .list-no {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -90px auto 0 auto;
    background-color: #fcfaf5;
    border-radius: 50%;
    color: #f79314;
    font-weight: bold;
    font-size: 40px;
}


.desc-list .list-title {
    font-weight: bold;
    font-size: 30px;
    margin-top: -20px;
    letter-spacing: 1px;
}
.desc-list .list-text {
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1.5px;
    font-weight: 700;
    line-height: 2;
}
.desc-list .list-text span {
    color: #f79314;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    line-height: 1;
}

.SuccessStories__title {
    display: inline-block
}
.SuccessStories__title > h4 {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    vertical-align: bottom;
}


.SuccessStories p {
    font-size: 17px;
    font-weight: bold ;
}
.SuccessStories__title > img {
    height: auto;
    margin-left: 10px;
    width: 34px;
}


.SuccessStories__title::after {
    content: '';
    border-bottom: solid 4px #f79314;
    display: block;
    margin-top: 10px;
}


.desc-list .example-contents {
    margin: 32px 0 10px 0;
}



.SuccessStory {
    display: flex;
    width: 33.3%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.desc-list .example-contents img {
    width: 60px;
    height: 60px;
}

.SuccessStory__image {
    height: 60px;
    width: 60px;
}

.SuccessStory__intro {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 16px;
    text-align: left;
}
.SuccessStoriesList__link :hover{
    color: #ff9900;
}
.SuccessStory__mouseover :hover{
    color: #ff9900;
}

.SuccessStory::after {
    content: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/common/chevron-right.jpg);
    display: inline-block;
    height: fit-content;
    margin: auto;
    transform: scale(0.4);
}
@media screen and (min-width: 767px){
.desc-list .example-contents.contents-tidy {
    flex-wrap: wrap;
}
 .SuccessStoriesList__link {
        display: contents;
        cursor: pointer;
}
.desc-list > li {
    background-color: #fcfaf5;
    border-radius: 20px;
    text-align: center;
    padding: 40px;
    list-style: none;
}
    
}
@media screen and (maX-width: 767px){
.desc-list .example-contents.contents-tidy {
    flex-wrap: wrap;
}

.SuccessStoriesList__link {
   
} 
.desc-list > li {
    background-color: #fcfaf5;
    border-radius: 5px;
    text-align: center;
    padding: 30px 20px 20px 20px;
    list-style: none;
}


   .desc-list .list-no {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -90px auto 0 auto;
    background-color: #fcfaf5;
    border-radius: 50%;
    color: #f79314;
    font-weight: bold;
    font-size: 30px;
}


.desc-list .list-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: -20px;
    letter-spacing: 1px;
}
.desc-list .list-text {
    font-size: 14px;
    margin-top: 30px;
    letter-spacing: 1.5px;
    font-weight: 700;
    line-height: 2;
}
.desc-list .list-text span {
    color: #f79314;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    line-height: 1;
}

.SuccessStories__title {
    display: inline-block
}
.SuccessStories__title > h4 {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
    vertical-align: bottom;
}


.SuccessStories p {
    font-size: 14px;
    font-weight: bold ;
}
.SuccessStories__title > img {
    height: auto;
    margin-left: 10px;
    width: 20px;
}


.SuccessStories__title::after {
    content: '';
    border-bottom: solid 4px #f79314;
    display: block;
    margin-top: 10px;
}


.desc-list .example-contents {
    margin: 32px 0 10px 0;
}



.SuccessStory {
    display: flex;
    width: 120.3%;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 50px;
}

.desc-list .example-contents img {
    width: 60px;
    height: 60px;
}

.SuccessStory__image {
    height: 60px;
    width: 60px;
}

.SuccessStory__intro {
    color: #333;
    font-size: 16px;
    font-weight: 100px;
    line-height: 26px;
    margin: 10px 16px;
    text-align: left;
}
.SuccessStoriesList__link :hover{
    color: #ff9900;
}
.SuccessStory__mouseover :hover{
    color: #ff9900;
}

.SuccessStory::after {
    content: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/common/chevron-right.jpg);
    display: inline-block;
    height: fit-content;
    margin: auto;
    transform: scale(0.4);
}
}
/*<!-- 02 現場が認めるカリキュラム -->*/
.desc-list > li + li {
    margin-top: 120px;
}



.CorporateInterviewSection {
    margin-top: 30px;
}
.CorporateInterviewCard--with-link {
    padding: 30px 30px 60px;
}

.CorporateInterviewCard {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    margin-bottom: 25px;
    padding: 30px;
    position: relative;
    text-align: left;
    width: 100%;
}
.CorporateInterviewCard__left {
    color: #a2a2a4;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.CorporateInterviewCard__left img {
    border-radius: 4px;
    width: 390px;
    margin-bottom: 5px;
}
.CorporateInterviewCard__right {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;
    margin-left: 16px;
}
.CorporateInterviewCard__right > p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}
.CorporateInterviewCard__link {
    align-items: baseline;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.CorporateInterviewCard__link a {
    color: #a2a2a4;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.CorporateInterviewCard__link  :hover{
  color: #ff9900;
}

.CorporateInterviewCard__link img {
    margin-left: 10px;
    width: 6px;
}

@media screen and (max-width:767px){
   .CorporateInterviewCard__left img {
    border-radius: 4px;
    width: 160px;
    margin-bottom: 5px;
} 
.CorporateInterviewCard--with-link{
    
    display: block;
}

}


/*<!-- 03 現役エンジニアが講師 -->*/

.engineer-list {
    margin-top: 45px;
    margin-left: -15px;
    margin-right: -15px;
}

.contents-tidy {
    display: flex;
    justify-content: space-between;
}
.engineer-list .engineer-box {
    background-color: #fff;
    border-radius: 15px;
    margin: 0 15px;
    width: calc(100% / 3);
}
.engineer-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: 20px;
}
.engineer-conpany-logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.engineer-conpany-logo > img {
    width: 100%;
}
.engineer-profile {
    display: flex;
    align-items: center;
    width: 100%;
}
.engineer-name.contents-tidy {
    flex-direction: column;
}

.engineer-name {
    text-align: start;
    margin-left: 15px;
    font-size: 20px;
}
.engineer-name > span {
    color: #f79314;
    font-size: 14px;
}
.engineer-text {
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: start;
}
.engineer-text::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 29px;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #f6f6f6;
}

@media screen and (maX-width:767px){
   .engineer-list {
    margin-top: 45px;
    margin-left: 215px;
    margin-right: 15px;
}

.contents-tidy {
    display: block;
    justify-content: space-between;
}
.engineer-list .engineer-box {
    background-color: #fff;
    border-radius: 15px;
    margin: 0 15px;
    width: calc(100% / 3);
}
.engineer-media {
    display: block;
    align-items: center;
    font-weight: bold;
    padding: 20px;
}
.engineer-conpany-logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.engineer-conpany-logo > img {
    width: 30%;
}
.engineer-profile {
    display: flex;
    align-items: center;
    width: 30%;
}
.engineer-name.contents-tidy {
    display: block;
}

.engineer-name {
    text-align: start;
    margin-left: 15px;
    font-size: 20px;
}
.engineer-name > span {
    color: #f79314;
    font-size: 14px;
}
.engineer-text {
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: start;
}
.engineer-text::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 29px;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #f6f6f6;
} 
    
}





/*<!-- 04 卒業後の紹介企業が多数 -->*/

.desc-list .example-contents.contents-tidy {
    flex-wrap: wrap;
}

.desc-list .example-contents-company {
    justify-content: start;
    margin: 0;
}


.desc-list .example-contents > li {
    display: flex;
    width: 33.3%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}
.desc-list .example-contents {
    margin: 32px 0 10px 0;
}
.desc-list .example-contents-company > li {
    height: 71px;
    margin: 12px 0;
    padding: 0;
    width: 25%;
}*/
.desc-list .example-contents > li {
    display: flex;

}

.desc-list .example-contents-company .img-box {
    align-items: center;
    background-color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    width: calc(100% + 50px);
}
.desc-list .example-contents-company img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
/*<!-- 05 サポート体制も充実 -->*/

.desc-list .example {
    background-color: #fff;
    width: 100%;
    margin-top: 40px;
    border-radius: 20px;
    padding: 30px;
}
.desc-list .example-contents-support {
    display: block;
    justify-content: start;
    margin: 0;
    padding: 10px;
}
.desc-list .example-contents-support > li {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    list-style: disc;
    list-style-position: inside;
    margin-left: 1.4em;
    text-align: left;
    text-indent: -1.4em;
    width: 100%;
}

.desc-list .example-contents-support-supplement {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 6px 0 10px;
    text-align: left;
}




/* 04.POTEPAN CAMPの選べるコース*/


.main-section.top-potepan {
    position: relative;
    overflow: hidden;
    background-color: #f6f6f6;
}

.main-section {
    padding: 100px 0;
}

.main-section.top-potepan .content-width {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/bg-section-top-course.png);
    background-size: 281px 275px;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) top;
    padding-top: 35px;
}

.main-section.top-potepan > * {
    position: relative;
    z-index: 1;
}

.section-header.contents-tidy {
    flex-direction: column;
    align-items: center;
}


/.course-media {
    font-weight: bold;
    padding: 45px;
    background-color: #fff;
}
.course-media.career .course-title {
    border-image: linear-gradient(to right, #f79214 0%, #f74e06 100%);
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-style: solid;
}


.course-title.contents-tidy {
    justify-content: center;
    align-items: center;
    width: 30%;
}




.contents-tidy {
    display: flex;
    justify-content: space-between;
}

.course-title p {
    color: #f77f14;
    margin-bottom: 7.5px;
    font-size: 18px;
    font-weight: bold;
}
.course-title h3 {
    font-size: 24px;
    text-align: center;
}
.course-media.career .course-text {
    color: #f77f14;
    font-size: 24px;
}
.course-contents > div {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.course-contents > div p:first-of-type {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(90deg, #212121, #444);
    padding: 6px 16px;
    border-radius: 20px;
    margin-right: 15px;
}
.course-contents > div p:last-of-type {
    font-size: 18px;
}


.course-media {
    font-weight: bold;
    padding: 45px;
    background-color: #fff;
}
.course-link {
    position: absolute;
    right: 120px;
    font-size: 14px;
    font-weight: 700;
    color: #999;
}
.course-link:hover{
    color: #ff9900;
}
@media screen and (min-width: 768px)
.hover-text-color {
    transition: 0.2s;
}
.course-link::after {
    content: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/common/chevron-right.jpg);
    display: inline-block;
    height: fit-content;
    margin: auto;
    transform: scale(0.4);
    position: absolute;
    width: 8px;
    height: 8px;
    bottom: 10px;
    right: -14px;
}

.section-button {
    margin-top: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (min-width: 768px)
.hover-opacity {
    transition: opacity 0.2s;
}


/* 05.サービスの想い  - ポテパンのプログラミング学習についてかける想い */


.main-section.top-service, .main-section.top-works {
    background-color: #fcfaf5;
}

.main-section {
    padding: 100px 0;
}


.message-title {
    display: inline-block;
    font-size: 50px;
    color: #ff802c;
    background: -webkit-linear-gradient(
0deg, #ff802c, #f79214);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    letter-spacing: 3px;
    position: relative;
    z-index: 1;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.message-contents.contents-tidy {
    align-items: center;
}

.message-contents {
    margin-top: -20px;
    position: relative;
}
.contents-tidy {
    display: flex;
    justify-content: space-between;
}
.message-text {
    background-color: #fff;
    padding: 40px 150px 40px 40px;
    margin-right: -100px;
}
.message-text p {
    line-height: 2;
    font-weight: 500;
}


.message-text p + p {
    margin-top: 40px;
}
.message-thumbnail {
    position: relative;
}
.message-thumbnail p {
    position: absolute;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 10px #808080;
}
.message-thumbnail p span {
    font-size: 24px;
}


/*06.受講生の声 */


.main-section .section-header + .section-content {
    margin-top: 60px;
}

.interview-list {
    margin-left: -20px;
    margin-right: -20px;
}
.interview-list > li {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% / 3);
}


.interview-media .interview-media-thumbnail {
    overflow: hidden;
    position: relative;
    padding-top: 100%;
}
.interview-media .interview-media-thumbnail img {
    width: 100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.interview-media .interview-media-thumbnail img:hover {
   transform: scale(1.2,1.2);
   transition-duration: 0.2s;
}


@media screen and (min-width: 768px)
.hover-scale {
    transition: transform 0.2s;
}
.pc-dn {
    display: none !important;
}
.interview-media .interview-thumbnail-titlebox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 80px 20px 15px;
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
}
.interview-media .interview-thumbnail-titlebox .interview-thumbnail-title {
    font-size: 16px;
    font-weight: bold;
    color: #f79314;
}
.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
    padding-top: 4px;
    border-top: 1px solid #fff;
}


.interview-media .interview-media-text {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    line-height: 1.8;
}
.interview-media .interview-media-text:hover{
    color: #ff9900;
}

@media screen and (min-width: 768px)
.hover-text-color {
    transition: 0.2s;
}

.section-button :hover{
    opacity: 0.5;
}
.section-button >span:hover{
    opacity: 1;
}


/*footer*/

.site-footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #f79314;
}

.page-top-button.contents-tidy {
    align-items: center;
    justify-content: center;
}

.page-top-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -105px;
    right: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 12px 30px -15px;
    transition: 0.2s;
}
.page-top-arrow {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-left: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(
45deg);
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.site-footer-main .footer-nav {
    margin-right: 20px;
    order: 2;
}
.footer-nav > li + li {
    margin-top: 30px;
}
.footer-nav-item:link, .footer-nav-item:visited {
    color: #fff;
}
.footer-nav-item > span {
    font-weight: normal;
    margin-left: 1em;
}
.site-footer-main .footer-nav-and-character {
    order: 3;
}
.site-footer-main .footer-nav-and-character .footer-nav {
    align-self: flex-start;
}
.site-footer-main .footer-nav-and-character .footer-character {
    align-self: flex-end;
    margin: 90px 0 0 40px;
}
.footer-character > img {
    width: auto;
    height: 70px;
}
.site-footer-main .footer-info {
    margin-right: 40px;
    order: 1;
}

.footer-info {
    display: block;
    color: #fff;
}
address {
    font-style: normal;
}
.footer-info .footer-logo {
    display: inline-block;
    max-width: 280px;
}

@media screen and (min-width: 768px)
.hover-opacity {
    transition: opacity 0.2s;
}
.footer-info .footer-logo > img {
    width: 100%;
    height: auto;
}
.footer-info .footer-logo + .footer-company {
    margin-top: 25px;
}
.footer-info .footer-company, .footer-info .footer-address {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.footer-info .footer-company + .footer-address {
    margin-top: 10px;
}

.footer-info .footer-address + .footer-social {
    margin-top: 35px;
}

.footer-info .footer-social {
    display: flex;
}
.footer-info .footer-social-item {
    display: block;
    max-width: 60px;
}

@media screen and (min-width: 768px)
.hover-opacity {
    transition: opacity 0.2s;
}
.footer-info .footer-social-item > img {
    width: 100%;
    height: auto;
}
.footer-info .footer-social > li + li {
    margin-left: 20px;
}
.footer-info .footer-social-item {
    display: block;
    max-width: 60px;
}

@media screen and (min-width: 768px)
.hover-opacity {
    transition: opacity 0.2s;
}



.site-footer-sub {
    margin-top: 60px;
}
.footer-copyright {
    color: #fff;
    font-size: 12px;
}

.footer-logo  :hover{
    opacity: 0.5;
}
.footer-social-item  :hover{
    opacity: 0.5;
}