html {
    font-size: 14px;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
    color: rgb(34, 34, 34);
}
html {
    -webkit-text-size-adjust: 100%;
}
*, *::before, *::after {
    word-break: break-all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "ja";
}
user agent stylesheet
html {
    display: block;
}


/*head*/



/*body*/

/*header*/
.site-header {
    width: 100%;
    position: absolute;
}

.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
*, *::before, *::after {
    word-break: break-all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header {
    display: block;
}
body {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: 400;
}
body {
    -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 767px){
.site-header {
    padding-top: 15px;
    padding-bottom: 15px;
}}

@media screen and (max-width: 1080px){
.site-header {
    background-color: #fff;
    position: fixed;
    z-index: 10;
}}

